body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav{
     display:inline;
     background-color:aqua;
     color:blue;
     border-width:5px;
     border-radius: 10px;
     padding:15px;
     margin: 50;

 }