h1{
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: #008000;
}
h2{
    background-color: #00ffff;
}
.disney{
    background-color: hotpink;
}
body{
    background-color: yellow;
}